@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.employee-add-label {
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.employee-add-heading {
  font-family: "Roboto";
  font-weight: "bold";
  color: #293b51;
  text-align: start;
  margin-bottom: 10px;
}
.teacher-add-formContainer {
  padding: 10px;
  width: 70%;
}

.teacher-add-totalContainer {
  font-family: "Roboto";
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0px 0px 0px;
  width: 100%;
}

.teacher-add-input {
  border: 1px solid black !important;
  border-radius: 5px;
  padding: 8px;
}

.teacher-add-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.teacher-add-button {
  width: max-content;
  background-color: #293b51;
  color: white;
  padding: 8px 32px;
  border: 3px #293b51 solid;
  border-radius: 24px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  font-weight: 500;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .teacher-add-button {
    width: max-content;
    background-color: #293b51;
    color: white;
    padding: 8px 32px;
    border: 3px #293b51 solid;
    border-radius: 24px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
    font-weight: 500;
  }
}
