.rowHover:hover {
  background-color: #c4c2c2;
}

.employees-list-heading {
  text-align: center;
  color: #111111;
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.employee-list-actions-container {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.employee-list-edit-icon {
  width: 22px;
  height: 22px;
  color: green;
  cursor: pointer;
}

.employee-list-toggle-on-icon {
  color: #293b51;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.employee-list-toggle-off-icon {
  color: rgb(245, 95, 95);
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.employee-list-delete-icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
  color: red;
}
