.add-subject-main-container{
    display:flex;
    width:100%;
    justify-content: center;
}
.add-subject-sub-container{
    display:flex;
    align-items: center;
    gap:20px;
    width:50%;
    margin-top:40px;
}
.add-subject-input-field{
    width:100%;
    border:none;
    padding:10px;
    background-color: #f2f2f2;
    border-radius:10px;
    outline:none;
}



.add-subject-button{
    border: none;
  background-color: #316795;
  color: #fff;
  border-radius: 20px;
  padding: 6px 32px;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  width: max-content;
  transition: background-color 0.3s ease;
}
.add-subject-button:hover{
    opacity: 0.8;
}