.project-list-heading {
  text-align: center;
  color: #111111;
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-edit-icon {
  height: 23px;
  width: 23px;
  margin-right: 10px;
  color: green;
  cursor: pointer;
}

.project-delete-icon {
  height: 23px;
  width: 23px;
  margin-right: 10px;
  cursor: pointer;
  color: rgba(241, 13, 13, 0.897);
}

.projects-not-found-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
