.classes-add-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.classes-add-input {
  padding: 8px;
  border: 1px solid black;
  border-radius: 10px;
}

.classes-add-button-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.classes-add-button {
  width: max-content;
  background-color: #293b51;
  color: white;
  padding: 6px 32px;
  border: 3px #293b51 solid;
  border-radius: 24px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  font-weight: 500;
  margin: 10px;
}

.class-add-class-name {
  margin: 0;
  font-size: 18px;
  color: black;
}

.class-add-span {
  font-size: 16px;
  font-weight: 500;
  color: #293b51;
  font-weight: 600;
}

.classes-add-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
}

.classes-add-card {
  border-radius: 30px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 20px;
  height: 150px;
  width: 30%;
}
