.super-sidebar-container {
  flex: 0 0 auto !important; /* Ensure sidebar doesn't shrink or grow */
}
.super-sidebar-icons-container {
    margin-top: 26px;
    color: #fff;
  }
  
  .super-sidebar-container {
    opacity: 1;
    color: #fff;
  }
  .super-hamburger-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 10px 10px 0px;
    cursor: pointer;
  }
  
  .super-menu-active {
    width: 90% !important;
    margin-left: 5px;
    border-radius: 10px;
    background-color: #fff;
    color: #004e89;
  }
  .collapsed-width{
    width:90%;
    height:100vh;
    overflow-y: scroll;
  }
  .not-collapsed-width{
    width:80%;
    height:100vh;
    overflow-y: scroll;
  }
  